<div id="content_full">
	<h2>Edit Entry</h2>
	<h3 class="entry"><%= @work.title %></h3>
	<br class="clear">
	<p>Last Updated: <%= @work.updated_at ? @work.updated_at.to_s(:long) : "N/A" %></p>
	<% form_for [:webadmin,@work] do |f| %>
	<table cellspacing="0" class="admin">
		<tr>
			<td class="heading" colspan=2>Bibliographical Entry No.</td>
		</tr>
		<tr>
	    <td colspan=2><%= f.text_field :reference_id %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Title</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_area :title, :size => "45", :class => "mceEditor" %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Year</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_field :year %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Location</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_field :city_publisher %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Publication</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_field :publication %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Venue</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_field :venue %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Bibliographical Entry</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_area :display, :class => "mceEditor" %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Related Entries</td>
		</tr>
		<tr>
			<td colspan=2><%= f.text_field :related %></td>
		</tr>
		<tr>
			<td class="heading" colspan=2>Category</td>
		</tr>
		<% for cat in Category.find(:all, :conditions => ["parent_id > 0"]) %>
		<tr>
			<td class="check_box" valign="top"><%= check_box_tag "work[category_ids][]", cat.id, @work.categories.include?(cat) %></td>
			<td class="list"><%= cat.parent.name %>:<span class="bodyitalic"><%= cat.name %></span></td>
		</tr>
		<% end %>		
	</table>
	<%= f.submit "Save Edits" %>
	<br class="clear"><br class="clear"><%= link_to "Cancel", webadmin_works_path, :class => "cancel" %>
	<% end %>
</div>